/* Cobbled together from r/FirefoxCSS, MrOtherGuy's repo, and SimplerentFox */

:root {
  --color-primary: #141414;
  --color-accent: #e08aca;
  --in-content-primary-button-background: var(--color-accent) !important;
  --in-content-primary-button-background-hover: var(--color-accent) !important;
  --in-content-primary-button-background-active: var(--color-accent) !important;
  --buttons-primary-button-bgcolor: var(--color-accent) !important;
  --buttons-primary-button-hover-bgcolor: var(--color-accent) !important;
  --buttons-primary-button-active-bgcolor: var(--color-accent) !important;
  --checkbox-checked-bgcolor: var(--color-accent) !important;
  --checkbox-checked-hover-bgcolor: var(--color-accent) !important;
  --checkbox-checked-active-bgcolor: var(--color-accent) !important;
  --lwt-popup-brighttext-url-color: var(--color-accent) !important;
  --focus-outline-color: var(--color-accent) !important;
  --lwt-toolbarbutton-icon-fill: var(--color-accent) !important;
  --toolbarbutton-icon-fill: var(--color-accent) !important;
  --lwt-toolbarbutton-icon-fill-attention: var(--color-accent) !important;
}

@-moz-document regexp("^(about:|chrome:|moz-extension:).*") {

  :root {
    --in-content-primary-button-background: var(--color-accent) !important;
    --in-content-primary-button-background-hover: var(--color-accent) !important;
    --in-content-primary-button-background-active: var(--color-accent) !important;
    --buttons-primary-button-bgcolor: var(--color-accent) !important;
    --buttons-primary-button-hover-bgcolor: var(--color-accent) !important;
    --buttons-primary-button-active-bgcolor: var(--color-accent) !important;
    --checkbox-checked-bgcolor: var(--color-accent) !important;
    --checkbox-checked-hover-bgcolor: var(--color-accent) !important;
    --checkbox-checked-active-bgcolor: var(--color-accent) !important;
    --lwt-popup-brighttext-url-color: var(--color-accent) !important;
    --focus-outline-color: var(--color-accent) !important;
  }

  html:not([role="dialog"]),
  html:not([role="dialog"]) *,
  html:not([role="dialog"]) body.activity-stream,
  window:not([chromehidden]),
  window:not([chromehidden])>dialog {
    --in-content-primary-button-background: var(--color-accent) !important;
    --in-content-primary-button-background-hover: var(--color-accent) !important;
    --in-content-primary-button-background-active: var(--color-accent) !important;
  }
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/compact_proton.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Small changes to make proton roughly as compact as the old compact mode */

:root {
  --toolbarbutton-inner-padding: 6px !important;
  --proton-tab-block-margin: 2px !important;
  --tabs-shadow-size: 0px !important;
  --arrowpanel-menuitem-padding: 5px !important;
  --panel-font-size: inherit !important;
  --arrowpanel-padding: 0.8em !important;
  --inline-tab-padding: 8px !important;
  /* 8px is default value since it looks good - lower values compactify tabs horizontally */
}

.subviewbutton.bookmark-item {
  padding-block: 4px !important;
}

.subview-subheader {
  display: -moz-box
}

menupopup>menuitem,
menupopup>menu {
  padding-block: 0.3em !important;
}

#urlbar-background {
  margin-block: 1px
}

/* This is kinda weird, but it makes the horizontal line between tabs and nav-bar render "inside" nav-bar thus tabs are more visibily separated even if there is less space there */
#nav-bar {
  box-shadow: inset 0 var(--tabs-shadow-size) 0 var(--tabs-border-color) !important;
}

/* 
G E N E R A L 
*/

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#widget-overflow-mainView,
#identity-popup-mainView,
#identity-popup-securityView,
#permission-popup-mainView,
#protections-popup-mainView,
#protections-popup-trackersView,
#protections-popup-cookiesView,
#nav-bar {
  background-color: var(--color-primary) !important;
  -moz-appearance: none !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
}

/* Change color of context menu */
menupopup {
  --menu-background-color: var(--color-primary) !important;
}

/* 
S I D E - B A R
*/

#history-panel,
#sidebar-search-container,
#bookmarksPanel {
  background: var(--color-primary) !important;
}

#search-box {
  -moz-appearance: none !important;
  background: var(--color-primary) !important;
  border-radius: 6px !important;
}

.sidebar-placesTree {
  color: var(--color-accent) !important;
}

#sidebar-switcher-target {
  color: var(--color-accent) !important;
}

#sidebar-header {
  background: var(--color-primary) !important;
}

#sidebar-splitter {
  border: none !important;
  opacity: 1 !important;
  background-color: var(--color-primary) !important;
}

splitter#sidebar-splitter {
  border: none !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_tabs_oneliner.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Make tabs and navbar appear side-by-side tabs on right */

/* Use page_action_buttons_on_hover.css to hide page-action-buttons to save more space for the address */

/*
urlbar_popup_full_width.css is VERY MUCH recommended for Firefox 71+ because of new urlbar popup
*/

:root[proton][uidensity="compact"] {
  --proton-tab-block-margin: 2px !important;
}

/* Modify these to change relative widths or default height */
#navigator-toolbox {
  --uc-navigationbar-width: 25vw;
  --uc-toolbar-height: 40px;
  --uc-urlbar-min-width: 25vw;
  /* minimum width for opened urlbar */
}

@media (-moz-proton) {

  #scrollbutton-up,
  #scrollbutton-down {
    border-block-width: 2px !important;
  }
}

/* Override for other densities */
:root[uidensity="compact"] #navigator-toolbox {
  --uc-toolbar-height: 34px;
}

:root[uidensity="touch"] #navigator-toolbox {
  --uc-toolbar-height: 44px;
}

/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
@media screen and (max-width: 1500px) {
  #urlbar-container {
    min-width: unset !important
  }
}

#TabsToolbar {
  margin-left: var(--uc-navigationbar-width);
  --tabs-navbar-shadow-size: 0px;
}

#tabbrowser-tabs {
  --tab-min-height: calc(var(--uc-toolbar-height) - 2 * var(--proton-tab-block-margin, 0px)) !important;
}

/* bigger context-line */
.tab-context-line {
  height: 6px !important;
}

/* This isn't useful when tabs start in the middle of the window */

.titlebar-spacer[type="pre-tabs"] {
  display: none
}

#navigator-toolbox>#nav-bar {
  margin-right: calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height));
}

/* Rules specific to window controls on right layout */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  .titlebar-buttonbox-container {
    position: fixed;
    display: block;
    left: 0px;
    z-index: 3;
  }

  :root[tabsintitlebar="true"] #nav-bar {
    padding-left: 96px !important;
    padding-right: 0px !important;
  }
}

/* Make opened urlbar overlay the toolbar */
#urlbar[open]:focus-within {
  min-width: var(--uc-urlbar-min-width, none) !important;
}

/* Hide dropdown placeholder */
#urlbar-container:not(:hover) .urlbar-history-dropmarker {
  margin-inline-start: -28px;
}

/* Fix customization view */
#customization-panelWrapper>.panel-arrowbox>.panel-arrow {
  margin-inline-end: initial !important;
}

#urlbar-background {
  background: var(--color-primary) !important;
  border: var(--color-accent) !important;
  animation: none !important;
}

/*
Hidden stuff (in order):
Forward button
Back button
Hamburger menu
Tab close
Zoom button
Page action
Bookmark button
*/

#forward-button,
#back-button,
#back-button,
#PanelUI-button,
.tabbrowser-tab:not([pinned]) .tab-close-button,
#page-action-buttons,
.bookmark-item[container]>.toolbarbutton-icon {
  display: none !important;
}

/* ACTIVE TAB COLOR */
/* This sets the color of the tab background */
.tab-background[selected="true"] {
  background-color: var(--color-accent) !important;
}

/* This fixes whatever was causing the active tab to be grey instead of the color selected above*/
.tab-background {
  background-image: none !important;
}

/*
https://www.reddit.com/r/FirefoxCSS/comments/gdsu1l/url_color_based_on_ssl/
*/

#urlbar {
  z-index: 3 !important;
}

#urlbar-background {
  z-index: -2 !important;
}

#identity-box {
  --focus-offset: 16px;
}

:root:not([uidensity="compact"]) #identity-box {
  --focus-offset: 15px;
}

#identity-box::after {
  content: '';
  position: absolute;
  height: 100%;
  width: calc(100% + var(--focus-offset));
  top: 0;
  left: 0;
  background: var(--security-color, rgba(0, 0, 0, 0.5));
  opacity: .2;
  transition: background 400ms linear;
  z-index: -1;
  pointer-events: none;
  touch-action: none;

}

#urlbar[focused] #identity-box::after {
  left: calc(var(--focus-offset) * -1);
}

#urlbar-input,
#identity-icon-labels {
  text-shadow: none !important;
}

/* BLUE..: about:config                                                                                                           */
#urlbar[pageproxystate='valid'] #identity-box.chromeUI::after {
  background: #0a84ff;
}

/* GREEN.: https://www.github.com/                                                                                                */
#urlbar[pageproxystate='valid'] #identity-box.verifiedIdentity:after {
  background: #058b00;
}

/* GREEN.: https://www.google.com/                                                                                                */
#urlbar[pageproxystate='valid'] #identity-box.verifiedDomain:after {
  background: #12bc00;
}

/* YELLOW: https://mixed-script.badssl.com/                                                                                       */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveBlocked:after {
  background: #d7b600;
}

/* YELLOW: https://mixed.badssl.com/                                                                                              */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContent:after {
  background: #d7b600;
}

/* YELLOW: https://very.badssl.com/                                                                                               */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContentLoadedActiveBlocked:after {
  background: #d7b600;
}

/* YELLOW: https://self-signed.badssl.com/                                                                                        */
#urlbar[pageproxystate='valid'] #identity-box.certUserOverridden:after {
  background: #ffe900;
}

/* YELLOW: Don't know an example for this                                                                                         */
#urlbar[pageproxystate='valid'] #identity-box.weakCipher:after {
  background: #a47f00;
}

/* YELLOW: https://mixed-script.badssl.com/                                                                                       */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveContent:after {
  background: #d70022;
}

/* RED..: http://http-login.badssl.com/                                                                                           */
#urlbar[pageproxystate='valid'] #identity-box.insecureLoginForms:after {
  background: #a4000f;
}

/* RED..: http://www.httpvshttps.com/                                                                                             */
#urlbar[pageproxystate='valid'] #identity-box.notSecure::after {
  background: #a4000f;
}